<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body id="index" class="text-center my-3 mx-5">
    <img src="/static/img/logo_darc.png" class="mt-4" width="30%" style="max-width: 300px; min-width: 200px"/>
    <h1 class="my-3">404 - page not found</h1>
    <h6 class="my-3">Check the URL and try again</h6>
    <script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>

<!-- list of all concepts in VARS http://hurlstor.soest.hawaii.edu:8083/kb/v1/concept -->
<!-- list of all video sequences on HURLSTOR http://hurlstor.soest.hawaii.edu:8084/vam/v1/videosequences/names -->