<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review | {{ data.reviewer }}</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="min-vh-100 d-flex flex-column">
    <div id="flash-messages-container">
        <div id="failedCommentFlash" class="alert alert-danger alert-dismissible px-5" style="position:fixed; left: 50%; transform: translate(-50%, 0); z-index: 50; display: none;">
            <span class="px-2" style="font-weight: 500;">Failed to save comments - please try again. If the issue persists, please contact a DARC team member.</span>
            <button type="button" class="btn-close small" aria-label="Close" onclick="$('#failedCommentFlash')[0].style.display = 'none';"></button>
            <div class="alert-bottom-bar alert-bottom-bar-success"></div>
        </div>
    </div>
    <!-- header -->
    <div class="py-3 px-4 px-md-5 d-flex justify-content-between sticky-top" style="background: var(--darc-bg); border-bottom: 1px solid var(--darc-bg-dark);">
        <div>
            <h3 style="font-weight: 600;">{{ data.reviewer }}</h3>
        </div>
        <div class="w-25 my-auto position-relative">
            <div class="progress w-100" style="height: 10px;">
                <div class="progress-bar rounded-1" role="progressbar" style="width: 25%; background: #0085ad;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="mt-1 text-end position-absolute" style="font-size: 0.75rem; right:0;">
                <span id="cardsReviewed">0</span> / <span id="totalCards">0</span> images reviewed
            </div>
        </div>
    </div>
    <!-- body -->
    <div class="mb-3 mx-4 mx-md-5 mb-5">
        {% if data.comments|length > 0 %}
        <div id="comments" class="col">
        </div>
        {% else %}
        No images found.
        {% endif %}
    </div>
    <div class="row footer px-md-5 pb-3 pt-3 m-0 mt-auto">
        <div class="col mt-1">
            <a class="mediaButton" target="_blank" href="https://www.soest.hawaii.edu/DARC/index.php" style="font-weight: 600;">
              Deep-Sea Animal Research Center
            </a><br>
            School of Ocean and Earth Science and Technology<br>
            University of Hawai‘i at Manoa<br>
        </div>

        <div class="col d-flex justify-content-end align-items-center">
            <a href="https://www.soest.hawaii.edu/DARC/index.php" target="_blank">
                <img src="/static/img/darc.png" alt="DARC logo" class="me-2" width="60" height="60" />
            </a>
            <a href="https://www.soest.hawaii.edu/soestwp/" target="_blank">
                <img src="/static/img/soest.png" alt="SOEST logo" class="me-2 rounded" width="55" height="55" />
            </a>
            <a href="https://manoa.hawaii.edu/" target="_blank">
                <img src="/static/img/university-of-hawaii.png" alt="University of Hawaii logo" width="60" height="60" />
            </a>
        </div>
    </div>
    <div id="load-overlay" class="loader-bg-hidden">
        <div class="col d-flex justify-content-center">
            <div class="loader"></div>
        </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script>
        const None = null;
        const True = true;
        const False = false;
        const reviewer = '{{ data.reviewer }}';
        const comments = {{ data.comments | safe }};
    </script>
    <script src="/static/js/reviewer-page.js" type="module"></script>
</body>
</html>
