<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review | {{ data.reviewer }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <div class="text-center my-3 mx-4 mx-md-5">
        <button class="secret-button" onclick="addViewAllParam()">View all</button>
        <h2 style="font-weight: 600;">Image Review</h2>
        {% if data.comments|length > 0 %}
        <div class="mt-2" style="font-weight: 500;">Please click "Submit Review" at the bottom of the page to save your comments.</div>
        <div class="small">
            Select an image to view a larger version, or select "see video" to see the video where the image was captured.<br>
        </div>
        <form id="commentForm" onsubmit="saveComments()" autocomplete="off">
            <div id="comments" class="col mt-3">
            </div>
            <input type="hidden" name="reviewer" value="{{ data.reviewer }}">
            <input type="hidden" name="annotators" value="{{ data.annotators }}">
            <input id="reviewerSubmit" type="submit" onclick="turnOffWarning()" value="Submit Review" class="btn btn-success my-3">
        </form>
        {% else %}
        No images found.
        {% endif %}
    </div>
    <div class="row footer px-md-5 py-2 m-0 mt-5">
        <div class="col mt-1">
            <a class="mediaButton" target="_blank" href="https://www.soest.hawaii.edu/DARC/index.php"><strong>Deep-sea Animal Research Center</strong></a><br>
            School of Ocean and Earth Science and Technology<br>
            University of Hawaii at Manoa<br>
            Honolulu, HI 96822
        </div>

        <div class="col d-flex justify-content-end align-items-center">
            <a href="https://www.soest.hawaii.edu/DARC/index.php" target="_blank">
                <img src="/static/img/logo_darc.png" alt="DARC logo" class="me-2" width="70" height="70" />
            </a>
            <a href="https://www.soest.hawaii.edu" target="_blank">
                <img src="/static/img/university-of-hawaii-manoa.png" alt="University of Hawaii logo" width="70" height="70" />
            </a>
        </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script>
        const None = null;
        const True = true;
        const False = false;
        const reviewer = '{{ data.reviewer }}';
        const comments = {{ data.comments | safe }};
    </script>
    <script src="/static/js/logic.js"></script>
</body>
</html>
