<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review | {{ data.reviewer }}</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="min-vh-100 d-flex flex-column">
    <div id="flash-messages-container">
        <div id="failedCommentFlash" class="alert alert-danger alert-dismissible px-5" style="position:fixed; left: 50%; transform: translate(-50%, 0); z-index: 50; display: none;">
            <span class="px-2" style="font-weight: 500;">Failed to save comments - please try again. If the issue persists, please contact a DARC team member.</span>
            <button type="button" class="btn-close small" aria-label="Close" onclick="$('#failedCommentFlash')[0].style.display = 'none';"></button>
            <div class="alert-bottom-bar alert-bottom-bar-success"></div>
        </div>
    </div>
    <div class="text-center my-3 mx-4 mx-md-5 mb-5">
        <button class="secret-button" onclick="addViewAllParam()">View all</button>
        <h3 style="font-weight: 600;">Image Review</h3>
        {% if data.comments|length > 0 %}
        <div class="mt-2 small" style="font-weight: 500;">Please click "Submit Review" at the bottom of the page to save your comments.</div>
        <div class="small">
            Click on an image to see the full-sized version, or click "Play Video" to watch the video where the image was captured.<br>
        </div>
        <form id="commentForm" onsubmit="saveComments()" autocomplete="off">
            <div id="comments" class="col mt-3">
            </div>
            <input type="hidden" name="reviewer" value="{{ data.reviewer }}">
            <input id="reviewerSubmit" type="submit" onclick="turnOffWarning()" value="Submit Review" class="btn btn-success my-3">
        </form>
        {% else %}
        No images found.
        {% endif %}
    </div>
    <div class="row footer px-md-5 pb-3 pt-3 m-0 mt-auto">
        <div class="col mt-1">
            <a class="mediaButton" target="_blank" href="https://www.soest.hawaii.edu/DARC/index.php" style="font-weight: 600;">
              Deep-Sea Animal Research Center
            </a><br>
            School of Ocean and Earth Science and Technology<br>
            University of Hawai‘i at Manoa<br>
        </div>

        <div class="col d-flex justify-content-end align-items-center">
            <a href="https://www.soest.hawaii.edu/DARC/index.php" target="_blank">
                <img src="/static/img/darc.png" alt="DARC logo" class="me-2" width="60" height="60" />
            </a>
            <a href="https://www.soest.hawaii.edu/soestwp/" target="_blank">
                <img src="/static/img/soest.png" alt="SOEST logo" class="me-2 rounded" width="55" height="55" />
            </a>
            <a href="https://manoa.hawaii.edu/" target="_blank">
                <img src="/static/img/university-of-hawaii.png" alt="University of Hawaii logo" width="60" height="60" />
            </a>
        </div>
    </div>
    <div id="load-overlay" class="loader-bg-hidden">
        <div class="col d-flex justify-content-center">
            <div class="loader"></div>
        </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script>
        const None = null;
        const True = true;
        const False = false;
        const reviewer = '{{ data.reviewer }}';
        const comments = {{ data.comments | safe }};
    </script>
    <script src="/static/js/logic.js"></script>
</body>
</html>
