<div class="row footer px-md-5 pb-3 pt-3 m-0 mt-auto">
    <div class="col mt-1">
        <a class="mediaButton" target="_blank" href="https://www.soest.hawaii.edu/DARC/index.php" style="font-weight: 600;">
            Deep-Sea Animal Research Center
        </a><br>
        School of Ocean and Earth Science and Technology<br>
        University of Hawai‘i at Manoa<br>
    </div>

    <div class="col d-flex justify-content-end align-items-center">
        <a href="https://www.soest.hawaii.edu/DARC/index.php" target="_blank">
            <img src="/static/img/darc.png" alt="DARC logo" class="me-2" width="60" height="60" />
        </a>
        <a href="https://www.soest.hawaii.edu/soestwp/" target="_blank">
            <img src="/static/img/soest.png" alt="SOEST logo" class="me-2 rounded" width="55" height="55" />
        </a>
        <a href="https://manoa.hawaii.edu/" target="_blank">
            <img src="/static/img/university-of-hawaii.png" alt="University of Hawaii logo" width="60" height="60" />
        </a>
    </div>
</div>