<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body id="index" class="text-center my-3 mx-5">
    <img src="/static/img/darc.png" class="mt-4" width="30%" style="max-width: 300px; min-width: 200px"/>
    <h2 class="my-5" style="font-weight: 600;">Thank you!</h2>
    <h5 class="mb-5">Successfully saved {{ data.count }} record{% if data.count|int > 1 or data.count|int == 0 %}s{% endif %}.</h5>
    <a class="mediaButton" href="/review/{{ data.name }}?all=true">
        <p>Return to previous page</p>
    </a>
    <script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>
