<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body id="index">
    <div class="text-center small my-2" style="color: #e3e3e3;">
        If the video does not play, please try loading this page in Google Chrome or Microsoft Edge. You can also
        <a class="mediaButton" href="{{ data.link }}">download the video by clicking here</a> and watch it on your device.
    </div>
    <video class="w-100" controls style="height: 95vh;">
        <!-- AV1 in MP4 container -->
        <source src="{{ data.link }}#t={{ data.time }}" type="video/mp4; codecs='av01.0.08M.08'">

        <!-- AV1 in WebM container -->
        <source src="{{ data.link }}#t={{ data.time }}" type="video/webm; codecs='av01'">

        <!-- MP4 format with H.264 video codec and AAC audio codec -->
        <source src="{{ data.link }}#t={{ data.time }}" type="video/mp4">

        <!-- HEVC / H.265 for Safari -->
        <source src="{{ data.link }}#t={{ data.time }}" type='video/mp4; codecs="hvc1"'>

        <!-- MOV format with different codecs -->
        <source src="{{ data.link }}#t={{ data.time }}" type="video/quicktime">
        Your browser does not support the video tag or the file format of this video.
    </video>
</body>
</html>
