body {
    background-color: #222831;
    color: #EEEEEE;
}

table {
    color: #EEEEEE !important;
    --bs-table-striped-color: #EEEEEE !important;
    vertical-align: middle !important;
    border-bottom: #393E46 !important;
}

thead, tbody, tfoot, tr, td, th {
    border-bottom-width: 2px !important;
    border-bottom-color: #393E46 !important;
}

textarea {
    padding: 5px 10px;
    background-color: #393E46;
    color: white;
    border: 0;
}

.values {
    font-weight: 600;
}

.reviewer {
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

#sequenceName {
    width: 250px;
}

#goButton {
    font-weight: 600;
    font-size: 18px;
}

#reviewerSubmit {
    padding: 15px 40px;
    font-weight: 600;
    font-size: larger;
}
