body {
    background-color: #222831;
    color: #EEEEEE;
}

table {
    color: #EEEEEE !important;
    --bs-table-striped-color: #EEEEEE !important;
    vertical-align: middle !important;
}

tbody tfoot, td, th {
    border-bottom-width: 2px !important;
    border-bottom-color: #393E46 !important;
}

textarea {
    padding: 5px 10px;
    background-color: #393E46;
    color: white;
    border: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #1d222a;
}

::-webkit-scrollbar-thumb {
    background-color: #393E46;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #686869;
    border-radius: 10px;
}

.values {
    font-weight: 600;
}

.reviewer {
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

.mediaButton {
    font-weight: 500;
    color: #00ADB5;
    text-decoration: none;
    background: transparent;
    border: none;
    transition: 0.2s;
}

.mediaButton:hover {
    color: #00c3cc;
}

#reviewerSubmit {
    padding: 15px 40px;
    font-weight: 600;
    font-size: larger;
}
