body {
    background-color: #222831;
    color: #EEEEEE;
}

table {
    color: #EEEEEE !important;
    --bs-table-striped-color: #EEEEEE !important;
    vertical-align: middle !important;
    border-bottom: #393E46 !important;
}

thead, tbody, tfoot, tr, td, th {
    border-bottom-width: 2px !important;
    border-bottom-color: #393E46 !important;
}

textarea {
    padding: 5px 10px;
    background-color: #393E46;
    color: white;
    border: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #1d222a;
}

::-webkit-scrollbar-thumb {
    background-color: #393E46;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #686869;
    border-radius: 10px;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
    max-height: 600px;
    overflow: auto;
    position: absolute;
    border: 1px solid #393E46;
    border-top: none;
    z-index: 99;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #222831;
    border-bottom: 1px solid #393E46;
}

.autocomplete-items div:hover {
    background-color: #393E46;
}

.autocomplete-active {
    background-color: #234c73 !important;
    color: #ffffff;
}

.values {
    font-weight: 600;
}

.reviewer {
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

.plusButton {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    color: #4c525d;
    transition: 0.2s;
}

.plusButton:hover {
    color: #dddddd;
}

.xButton {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    color: #41464f;
}

.xButton:hover {
    color: #585e67;
    transition: 0.2s;
}

.sequenceName {
    width: 250px;
}

#updateSequence input {
    border-radius: 3px;
}

#updateSequence .autocomplete-items {
    width: 250px;
    max-height: 300px;
}

#goButton {
    font-weight: 600;
    font-size: 18px;
}

#reviewerSubmit {
    padding: 15px 40px;
    font-weight: 600;
    font-size: larger;
}
