<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review | Update Sequences</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body id="updateSequence" class="text-center my-3 mx-5">
    <h3 class="my-3" style="font-weight: 600;">Update Sequences</h3>
    <p class="my-3">Enter the sequences that should be added for review:</p>
    <form method="post" action="/update_sequences" >
        <div id="sequenceList" class="ms-2">
            <div id="seqList1">
                <div class="row d-inline-flex">
                    <div class="col-1"></div>
                    <div class="col-10 p-0">
                        <div class="autocomplete">
                            <input type="text" id="sequence1" name="sequence1" class="sequenceName" placeholder="Hercules 1011715" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-1 ps-0 mt-auto">
                        <button id="plusButton" type="button" class="plusButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" id="goButton" value="Update" class="btn btn-success py-1 px-5 mt-4 mb-5" disabled>
    </form>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/autocomplete.js"></script>
    <script>
        const allSequences = {{ all_sequences }};
        const sequences = {{ sequences }};
        let numSequences = 1;
        let sequenceNameInput = $('#sequence1');

        function checkSequence() {
            let disabled = false;
            for (let i = 1; i <= numSequences; i++) {
                if ($(`#sequence${i}`)[0] && !allSequences.includes($(`#sequence${i}`)[0].value)) {
                    disabled = true;
                }
            }
            $('#goButton')[0].disabled = disabled;
        }

        function xClick(num) {
            $(`#seqList${num}`)[0].remove();
        }

        function nextDive(inputDive) {
            let index = allSequences.indexOf(inputDive);
            return index < 0 ? '' : allSequences[index + 1];
        }

        function plusClick() {
            const inputDive = $(`#sequence${numSequences}`).val();
            numSequences++;

            $('#sequenceList').append(`
                <div id="seqList${numSequences}">
                    <div class="row d-inline-flex">
                        <div class="col-1"></div>
                        <div class="col-10 p-0">
                            <div class="autocomplete">
                                <input type="text" id="sequence${numSequences}" name="sequence${numSequences}" class="sequenceName" placeholder="Hercules 1011715" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-1 ps-0">
                            <button id="xButton${numSequences}" type="button" class="xButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            `);
            $(`#sequence${numSequences}`).val(nextDive(inputDive));

            const currentNum = numSequences;
            $(`#xButton${numSequences}`).on('click', () => xClick(currentNum));
            $(`#sequence${numSequences}`).on('input', checkSequence);
            autocomplete($(`#sequence${numSequences}`)[0], allSequences);
        }

        autocomplete(sequenceNameInput[0], allSequences);

        if (sequences.length > 0) {
            $('#sequence1').val(sequences[0]);

            for (let i = 1; i < sequences.length; i++) {
                numSequences++;

                $('#sequenceList').append(`
                    <div id="seqList${numSequences}">
                        <div class="row d-inline-flex">
                            <div class="col-1"></div>
                            <div class="col-10 p-0">
                                <div class="autocomplete">
                                    <input type="text" id="sequence${numSequences}" name="sequence${numSequences}" class="sequenceName" placeholder="Hercules 1011715" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-1 ps-0">
                                <button id="xButton${numSequences}" type="button" class="xButton">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                `);
                $(`#sequence${numSequences}`).val(sequences[i]);

                const currentNum = numSequences;
                $(`#xButton${numSequences}`).on('click', () => xClick(currentNum));
                $(`#sequence${numSequences}`).on('input', checkSequence);
                autocomplete($(`#sequence${numSequences}`)[0], allSequences);
            }
        }

        $('#plusButton').on('click', plusClick);
        sequenceNameInput.on('input', checkSequence);
        document.getElementById('updateSequence').addEventListener('click', checkSequence);
    </script>
</body>
</html>