<!doctype html>
<html lang="en">
<head>
    <title>DARC Image Review | View Sequences</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body id="updateSequence" class="text-center my-3 mx-5">
    <h3 class="my-3" style="font-weight: 600;">View Sequences</h3>
    <p class="my-3">Current sequences added for review:</p>
    <div class="col d-flex justify-content-center">
        <div id="sequenceListCont" class="ms-2">No sequences added</div>
    </div>
    <button type="button" id="goButton" class="btn btn-success py-1 px-5 mt-4 mb-5">Update</button>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/autocomplete.js"></script>
    <script>
        const sequences = {{ sequences }};

        if (sequences.length > 0) {
            $('#sequenceListCont').html('<ul id="sequenceList" class="text-start" style="width: 250px;"></ul>');
            for (const seq of sequences) {
                $('#sequenceList').append(`<li>${seq}</li>`);
            }
        }

        $('#goButton').on('click', () => { window.location = '/update_sequences' });
    </script>
</body>
</html>